doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div(id= header)
    div(id= newEntry)
    div(id= recentEntry)
    div(id= deleteEntry)

